<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ewubd.servicebhai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServiceBhai">
        <activity
            android:name=".bidding"
            android:exported="false" />
        <activity
            android:name=".showNID"
            android:exported="false" />
        <activity
            android:name=".uploadNID"
            android:exported="false" />
        <activity
            android:name=".insertReview"
            android:exported="false" />
        <activity
            android:name=".workerReview"
            android:exported="false" />
        <activity
            android:name=".inbox"
            android:exported="false" />
        <activity
            android:name=".chatbox"
            android:exported="false" />
        <activity
            android:name=".workersList"
            android:exported="false" />
        <activity
            android:name=".homepageForUser"
            android:exported="false" />
        <activity
            android:name=".problemOpen"
            android:exported="false" />
        <activity
            android:name=".problemShow"
            android:exported="false" />
        <activity
            android:name=".problemPosting"
            android:exported="false" />
        <activity
            android:name=".createWorkersProfile"
            android:exported="false" />
        <activity
            android:name=".workersProfile"
            android:exported="false" />
        <activity
            android:name=".userProfile"
            android:exported="false" />
        <activity
            android:name=".homePage"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>